body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
    /* background-image: url('WhatsApp Image 2024-01-22 at 9.49.51 PM.jpeg'); */

}

h2{
    text-align: center;
    justify-content: center;
}
p{
    text-align: center;
}